.app {
    display: flex;
    flex-flow: column nowrap;
    width: 100vw;
    height: 100vh;
    
    header {
        background-color: royalblue;
        flex: 0 0;
        padding: 0.5em;
        
        img {
            height: 4em;
        }
    }
    
    .nav-and-content {
        align-items: stretch;
        align-content: stretch;
        display: flex;
        flex: 1 1;
        flex-flow: row wrap;
    
        nav {
            flex: 0 0;
            margin: 1em;
        }
        
        main {
            flex: 1 1;
            margin: 1em;
        }
        
    }
    
    footer {
        a, a:visited {
            color: white;
        }
        background-color: royalblue;
        border-top: 1px solid black;
        color: white;
        flex: 0 0;
        font-size: small;
        font-weight: bold;
        padding: 0.5em 1em;
    }
}
